@charset "UTF-8";

ul#album{
	width: 700px;
	margin: 0 auto;
	padding: 50px;
	overflow: hidden;
	list-style: none;
}

ul#album li{
	float: left;
	width: 200px;
	height: 200px;
	margin: 10px;
	border: #ffffff;
	background-color: #ffffff; /* Branco */
	box-shadow: 1px 1px 3px rgba(0,0,0,.4);
	transition: all .4s ease-in; /* Efeito de transição */
}

ul#album li#foto_01{
	background:url(../_imagens/galeria-01.jpg) no-repeat;
	background-position: 50% 50%; /* Posicionando a imagem (Nesse caso centralizando a imagem) */
	background-size: 400px 400px; /* Tamanho da imagem original */
	background-color: #ffffff;
}

ul#album li#foto_02{
	background:url(../_imagens/galeria-02.jpg) no-repeat;
	background-position: 50% 50%;
	background-color: #ffffff;
}

ul#album li#foto_03{
	background: url('../_imagens/galeria-03.jpg') no-repeat;
	background-position: 50% 50%;
	background-color: #ffffff;
}

ul#album li#foto_04{
	background: url('../_imagens/galeria-04.jpg') no-repeat;
	background-position: 50% 50%;
	background-color: #ffffff;
}

ul#album li#foto_05{
	background: url('../_imagens/galeria-05.jpg') no-repeat;
	background-position: 50% 50%;
	background-color: #ffffff;
}

ul#album li#foto_06{
	background: url('../_imagens/galeria-06.jpg') no-repeat;
	background-position: 50% 50%;
	background-size: 400px 400px;
	background-color: #ffffff;		
}

ul#album li span{
	opacity: 0; /* Ocultar as legendas */
    font-size: 9pt;
    color: #ffffff;
    text-shadow: 1px 1px 1px #000000;
	background-color: rgba(0,0,0,.3);
	padding: 5px;
	line-height: 370px; /* Mandou o título para baixo */
}


/* Hover(quando passar o mouse)*/

/* Legenda da foto */

ul#album li:hover span{
	opacity: 1;
}

/* Todas as Fotos(Em geral) */
ul#album li:hover{ 
	transform: scale(1.5); /* Efeito de Zoom */
}

/* Em cada foto */
ul#album li#foto_01:hover{
		background-position: 0px 0px; /* Imagem a partir da parte superior esquerda */
		background-size: 200px 200px;
}

ul#album li#foto_02:hover{
	background-position: 0px 0px;
	background-size: 200px 200px;
}


ul#album li#foto_03:hover{
	background-position: 0px 0px;
	background-size: 200px 200px;
}

ul#album li#foto_04:hover{
	background-position: 0px 0px;
	background-size: 200px 200px;
}

ul#album li#foto_05:hover{
	background-position: 0px 0px;
	background-size: 200px 200px;
}

ul#album li#foto_06:hover{
	background-position: 0px 0px;
	background-size: 200px 200px;
}